html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: Poppins, Helvetica, Arial, sans-serif;
  vertical-align: baseline;
}
body{
  overflow-x: unset;
}
h1, h2, h3, h4, h5, h6, h7, pre, code, tt, blockquote, .post_header h5 a, .post_header h3 a, .post_header.grid h6 a, .post_header.fullwidth h4 a, .post_header h5 a, blockquote, .site_loading_logo_item i, .ppb_subtitle, .woocommerce .woocommerce-ordering select, .woocommerce #page_content_wrapper a.button, .woocommerce.columns-4 ul.products li.product a.add_to_cart_button, .woocommerce.columns-4 ul.products li.product a.add_to_cart_button:hover, .ui-accordion .ui-accordion-header a, .tabs .ui-state-active a, body.woocommerce div.product .woocommerce-tabs ul.tabs li.active a, body.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active a, body.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active a, body.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce div.product .woocommerce-tabs ul.tabs li a, .post_header h5 a, .post_header h6 a, .flex-direction-nav a:before, .social_share_button_wrapper .social_post_view .view_number, .social_share_button_wrapper .social_post_share_count .share_number, .portfolio_post_previous a, .portfolio_post_next a, #filter_selected, #autocomplete li strong, .post_detail.single_post a, .post_detail.single_post a:hover, .post_detail.single_post a:active, .single_tour_departure_wrapper li .single_tour_departure_title, .cart_item .product-name a, .single_tour_booking_wrapper .single_tour_view_desc, .single_tour_booking_wrapper .single_tour_view_icon, .tour_product_variable_title {
  color: #000000;
}
.ppb_header {
  text-align: center;
  padding: 0px 0 0px 0;
  margin-top: 10px;
  margin-bottom: 50px;
}
.inner_header{
    margin:auto; 
    width:100%;
}
.one.withsmallpadding.ppb_text, .one.withsmallpadding.ppb_header {
  margin: auto;
}
.one.withsmallpadding {
  padding: 30px 0 30px 0;
  float: left;
  width: 100%;
}
.one {
  clear: both;
  position: relative;
  float: left;
  width: 100%;
  box-sizing: border-box;
}
.standard_wrapper, .ppb_popup.one.contain {
  width: 960px;
  margin: auto;
  position: relative;
  float: none;
}

#page_content_wrapper, .page_content_wrapper {
  width: 960px;
  margin: auto;
  padding-bottom: 0;
  margin-top: 0;
}
.page_content_wrapper {
  width: 100%;
}


#page_caption h1, .ppb_title, .post_caption h1 {
  line-height: 1.3;
}
#page_caption h1, .ppb_title {
  font-family: Poppins, Helvetica, Arial, sans-serif;
  font-size: 40px;
}
#page_caption h1, .ppb_title, .post_caption h1 {
  font-weight: 700;
  text-transform: none;
  letter-spacing: 0px;
  color: #000000;
}
.ppb_title {
  font-family: Poppins, Helvetica, Arial, sans-serif;
  font-weight: 700;
}
h2.ppb_title {
  font-size: 50px;
  margin-top: 0;
}
h2.ppb_title {
  font-size: 36px;
  text-transform: none;
  letter-spacing: 0px;
}

.page_tagline, .thumb_content span, .portfolio_desc .portfolio_excerpt, .testimonial_customer_position, .testimonial_customer_company, .post_detail.single_post, #gallery_caption .tg_caption .tg_desc {
  color: #8D9199;
}
.page_tagline, .post_detail, .thumb_content span, .portfolio_desc .portfolio_excerpt, .testimonial_customer_position, .testimonial_customer_company {
  font-size: 15px;
}


.page_tagline {
  font-weight: 500;
}
.page_tagline, .post_header .post_detail, .recent_post_detail, .post_detail, .thumb_content span, .portfolio_desc .portfolio_excerpt, .testimonial_customer_position, .testimonial_customer_company {
  letter-spacing: 0px;
  text-transform: none;
}

.ppb_tour_classic{
  margin-bottom:50px;
}
.one {
  clear: both;
  position: relative;
  float: left;
  width: 100%;
  box-sizing: border-box;
}

#page_content_wrapper, .page_content_wrapper {
  width: 960px;
  margin: auto;
  padding-bottom: 0;
  margin-top: 0;
}
.page_content_wrapper {
  width: 100%;
}
.standard_wrapper, .ppb_popup.one.contain {
  width: 960px;
  margin: auto;
  position: relative;
  float: none;
}
#portfolio_filter_wrapper, .portfolio_filter_wrapper {
  width: 960px;
  padding-top: 40px;
}
.portfolio_filter_wrapper, body.tax-portfoliosets #portfolio_filter_wrapper, #portfolio_filter_wrapper {
  padding-top: 0;
}
#portfolio_filter_wrapper.gallery, .portfolio_filter_wrapper.gallery {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  clear: both;
}
#portfolio_filter_wrapper.gallery.two_cols, .portfolio_filter_wrapper.gallery.two_cols, #portfolio_filter_wrapper.gallery.three_cols, .portfolio_filter_wrapper.gallery.three_cols, #portfolio_filter_wrapper.gallery.four_cols, .portfolio_filter_wrapper.gallery.four_cols {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}
.animated1 {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}


.three_cols.gallery .element {
    width: calc(33.33% - 20px);
    margin-right: 30px;
    margin-bottom: 30px;
    box-sizing: border-box;
    float: left;
}
.three_cols.gallery .element:nth-child(3n+1) {
  clear: both;
}

.one_third.gallery3 {
  position: relative;
  width: 100%;
  margin: 0;
}
.classic .portfolio_type {
  border: 1px solid #dce0e0;
  border-radius: 5px;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.grid .portfolio_type {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.one_third.filterable.gallery3.portfolio_type {
  margin: 0;
}
a {
  color: #222;
  text-decoration: none;
  -webkit-transition: color .2s linear,background .1s linear;
  -moz-transition: color .2s linear,background .1s linear;
  -ms-transition: color .2s linear,background .1s linear;
  -o-transition: color .2s linear,background .1s linear;
  transition: color .2s linear,background .1s linear;
}


a, .post_detail.single_post {
  color: #FF4A52;
}
a.tour_image {
  display: block;
  position: relative;
}
.one_half img, .one_third img, .one_fourth img, .one_fifth img, .two_third img {
  max-width: 100%;
  height: auto;
}


.three_cols.gallery .element img {
    width: 100%;
    height: auto;
}
.classic.gallery .element .portfolio_type img {
  border-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
a.tour_image .tour_price, .grid.portfolio_type .tour_price {
  position: absolute;
  bottom: 20px;
  left: 0;
  background: #FF4A52;
  padding: 3px 10px 2px 10px;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
input[type=submit], input[type=button], a.button, .button, .pagination span, .pagination a:hover, .woocommerce .footer_bar .button, .woocommerce .footer_bar .button:hover, .woocommerce-page div.product form.cart .button, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .post_type_icon, .filter li a:hover, .filter li a.active, #portfolio_wall_filters li a.active, #portfolio_wall_filters li a:hover, .comment_box, .one_half.gallery2 .portfolio_type_wrapper, .one_third.gallery3 .portfolio_type_wrapper, .one_fourth.gallery4 .portfolio_type_wrapper, .one_fifth.gallery5 .portfolio_type_wrapper, .portfolio_type_wrappe, .post_share_text, #close_share, .widget_tag_cloud div a:hover, a.tour_image .tour_price, .mobile_menu_wrapper #close_mobile_menu, a.tour_image .tour_price, .grid.portfolio_type .tour_price, .ui-accordion .ui-accordion-header .ui-icon, .mobile_menu_wrapper #mobile_menu_close.button, .header_cart_wrapper .cart_count {
  background-color: #FF4A52;
}
input[type=submit], input[type=button], a.button, .button, .pagination a:hover, .woocommerce .footer_bar .button, .woocommerce .footer_bar .button:hover, .woocommerce-page div.product form.cart .button, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .post_type_icon, .filter li a:hover, .filter li a.active, #portfolio_wall_filters li a.active, #portfolio_wall_filters li a:hover, .comment_box, .one_half.gallery2 .portfolio_type_wrapper, .one_third.gallery3 .portfolio_type_wrapper, .one_fourth.gallery4 .portfolio_type_wrapper, .one_fifth.gallery5 .portfolio_type_wrapper, .portfolio_type_wrapper, .post_share_text, #close_share, .widget_tag_cloud div a:hover, a.tour_image .tour_price, .mobile_menu_wrapper #close_mobile_menu, .ui-accordion .ui-accordion-header .ui-icon, .mobile_menu_wrapper #mobile_menu_close.button {
  color: #ffffff;
}

.portfolio_info_wrapper {
  padding: 5px 15px 15px 15px;
}

.tour_price {
  font-family: Poppins, Helvetica, Arial, sans-serif;
}
.portfolio_info_wrapper {
  padding: 5px 15px 15px 15px;
}

h1, h2, h3, h4, h5, h6, h7, #autocomplete li strong {
  font-weight: 700;
  letter-spacing: 0px;
}
h4 {
  font-size: 20px;
}
.tour_excerpt {
  font-size: 13px;
  margin-top: -5px;
}
#page_content_wrapper p, .page_content_wrapper p {
  padding-top: .7em;
  padding-bottom: 1.3em;
}
.tour_attribute_wrapper {
  width: 100%;
  float: left;
}
.tour_attribute_rating {
  max-width: 60%;
  float: left;
}
.tour_attribute_rating .br-theme-fontawesome-stars-o {
  display: inline-block;
}
.br-theme-fontawesome-stars-o .br-widget {
  margin-top: -2px;
  white-space: nowrap;
}
.br-theme-fontawesome-stars-o .br-widget a {
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    margin-right: 2px;
}


.br-widget .fa-star {
  color: #1EC6B6;
  font-size: 14px;
}
.br-widget .far {
  color: #d2d2d2;
  font-size: 14px;

}
.tour_attribute_rating .tour_attribute_rating_count {
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
}
.tour_attribute_days {
  max-width: 40%;
  float: right;
  text-align: right;
  font-size: 12px;
  font-weight: 600;
  line-height: 2em;
}
.tour_attribute_days .fa-clock {
  vertical-align: middle;
  margin-right: 3px;
}
.classic .portfolio_type:hover, .grid .portfolio_type:hover {
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  -o-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
  -webkit-box-shadow: 0 22px 40px rgba(0,0,0,.15);
  -moz-box-shadow: 0 22px 40px rgba(0,0,0,.15);
  box-shadow: 0 22px 40px rgba(0,0,0,.15);
}
.portfolio_type:hover a.tour_image .tour_price {
  left: 5px;
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
a.tour_image .tour_price .normal_price, .tour_price .normal_price {
  font-size: 16px;
  font-weight: 400;
  margin-right: 5px;
  text-decoration: line-through;
  opacity: .6;
  font-size: 13px;
}


.tour_label, .single_tour_attribute_wrapper .tour_label, a.tour_image .tour_label, .grid.portfolio_type .tour_label {
  position: absolute;
  top: -14px;
  right: -14px;
  border-radius: 50px;
  background: #1EC6B6;
  padding: 10px 7px 10px 7px;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.single_tour_attribute_wrapper .tour_label, a.tour_image .tour_label, .grid.portfolio_type .tour_label, .tour_label.sidebar {
  background: #1EC6B6;
}
.animated2 {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.animated3 {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.3s;
}
.three_cols.gallery .element:nth-child(3n) {
  float: right;
  margin-right: 0;
}
.ppb_header{
  text-align:center;
  padding:0px 0 0px 0;
  margin-bottom:40px;
}
.inner_content{
  margin:auto;
  width:100%
}


.one {
  clear: both;
  position: relative;
  float: left;
  width: 100%;
  box-sizing: border-box;
}
.one.withsmallpadding {
  padding: 30px 0 30px 0;
  float: left;
  width: 100%;
}
.one.withsmallpadding.ppb_text, .one.withsmallpadding.ppb_header {
  margin: auto;
}

.ppb_text{
  text-align:center;
  padding:0px 0 0px 0;
  margin-bottom:70px;
}

.one_third {
  width: 30.66%;
  float: left;
  margin-right: 4%;
  margin-bottom: 2%;
  position: relative;
  box-sizing: border-box;
}
.one_half .standard_wrapper, .one_third .standard_wrapper, .one_fourth .standard_wrapper, .two_third .standard_wrapper {
  width: 100%;
  padding: 0;
}
.one_third.last {
  margin-right: 0!important;
  float: right;
}
#page_content_wrapper p, .page_content_wrapper p {
  padding-top: .7em;
  padding-bottom: 1.3em;
  font-family: "Work Sans", Helvetica, Arial, sans-serif;
  color: rgb(34, 34, 34);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.5px;
}
.parallax{
  height: 60vh;
  background-image: url('https://themes-themegoods.b-cdn.net/grandtour/demo/wp-content/uploads/2016/12/pexels-photo-24377.jpg')
}

.parallax {
  position: relative;
  clear: both;
  background-size: 100%;
  z-index: 1;
}
.parallax {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.parallax {
  overflow: hidden;
}
.ppb_blog_grid{
  padding:0px 0 0px 0;
  margin-bottom:50px;
}
.one {
    clear: both;
    position: relative;
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 0 0px 0;
    margin-bottom: 50px;
}

#page_content_wrapper, .page_content_wrapper {
  width: 960px;
  margin: auto;
  padding-bottom: 0;
  margin-top: 0;
}
.page_content_wrapper {
  width: 100%;
}


#blog_grid_wrapper.ppb_blog_posts, .blog_grid_wrapper.ppb_blog_posts {
  padding-top: 0;
}
#page_content_wrapper .inner .sidebar_content, .page_content_wrapper .inner .sidebar_content {
  width: 68%;
  padding: 0;
  float: left;
  padding-right: 0;
  padding-top: 0;
  margin-right: 10px;
}
#page_content_wrapper .inner .sidebar_content.full_width, .page_content_wrapper .inner .sidebar_content.full_width {
  width: 100%;
  margin-top: 0;
  margin-right: 0;
  border: 0;
}
#page_content_wrapper .inner .sidebar_content.full_width#blog_grid_wrapper, .page_content_wrapper .inner .sidebar_content.full_width.blog_grid_wrapper {
  width: 100%;
  padding: 0;
}
.post.type-post:first-child {
  margin-top: 0;
}

#blog_grid_wrapper .post.type-post, .blog_grid_wrapper .post.type-post {
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

body.page-template-blog_g-php #blog_grid_wrapper .post.type-post, body.error404 .post.type-post, .ppb_blog_posts .post.type-post, body.archive #blog_grid_wrapper .post.type-post {
  float: left;
  width: 31.66%;
  float: left;
  margin-right: 2.5%;
  margin-bottom: 2.5%;
  margin-top: 0;
}


.post_img {
  position: relative;
  height: auto;
  text-align: center;
  float: left;
  line-height: 0;
  width: 100%;
  margin-bottom: 20px;
}
.post_wrapper.grid_layout .post_img {
  margin-bottom: 20px;
}


.post_wrapper.grid_layout {
  float: left;
}
body:not(.single) .post_wrapper {
  padding: 30px 0 30px 0;
  border: 1px solid #dce0e0;
  border-radius: 5px;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
#social_share_wrapper, hr, #social_share_wrapper, .post.type-post, #page_content_wrapper .sidebar .content .sidebar_widget li h2.widgettitle, h2.widgettitle, h5.widgettitle, .comment .right, .widget_tag_cloud div a, .meta-tags a, .tag_cloud a, #footer, #post_more_wrapper, .woocommerce ul.products li.product, .woocommerce-page ul.products li.product, .woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price, #page_content_wrapper .inner .sidebar_content, #page_content_wrapper .inner .sidebar_content.left_sidebar, .ajax_close, .ajax_next, .ajax_prev, .portfolio_next, .portfolio_prev, .portfolio_next_prev_wrapper.video .portfolio_prev, .portfolio_next_prev_wrapper.video .portfolio_next, .separated, .blog_next_prev_wrapper, #post_more_wrapper h5, #ajax_portfolio_wrapper.hidding, #ajax_portfolio_wrapper.visible, .tabs.vertical .ui-tabs-panel, .ui-tabs.vertical.right .ui-tabs-nav li, .woocommerce div.product .woocommerce-tabs ul.tabs li, .woocommerce #content div.product .woocommerce-tabs ul.tabs li, .woocommerce-page div.product .woocommerce-tabs ul.tabs li, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li, .woocommerce div.product .woocommerce-tabs .panel, .woocommerce-page div.product .woocommerce-tabs .panel, .woocommerce #content div.product .woocommerce-tabs .panel, .woocommerce-page #content div.product .woocommerce-tabs .panel, .woocommerce table.shop_table, .woocommerce-page table.shop_table, table tr td, .woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals, .woocommerce .cart-collaterals .shipping_calculator, .woocommerce-page .cart-collaterals .shipping_calculator, .woocommerce .cart-collaterals .cart_totals tr td, .woocommerce .cart-collaterals .cart_totals tr th, .woocommerce-page .cart-collaterals .cart_totals tr td, .woocommerce-page .cart-collaterals .cart_totals tr th, table tr th, .woocommerce #payment, .woocommerce-page #payment, .woocommerce #payment ul.payment_methods li, .woocommerce-page #payment ul.payment_methods li, .woocommerce #payment div.form-row, .woocommerce-page #payment div.form-row, .ui-tabs li:first-child, .ui-tabs .ui-tabs-nav li, .ui-tabs.vertical .ui-tabs-nav li, .ui-tabs.vertical.right .ui-tabs-nav li.ui-state-active, .ui-tabs.vertical .ui-tabs-nav li:last-child, #page_content_wrapper .inner .sidebar_wrapper ul.sidebar_widget li.widget_nav_menu ul.menu li.current-menu-item a, .page_content_wrapper .inner .sidebar_wrapper ul.sidebar_widget li.widget_nav_menu ul.menu li.current-menu-item a, .pricing_wrapper, .pricing_wrapper li, .ui-accordion .ui-accordion-header, .ui-accordion .ui-accordion-content, #page_content_wrapper .sidebar .content .sidebar_widget li h2.widgettitle:before, h2.widgettitle:before, #autocomplete, .ppb_blog_minimal .one_third_bg, #page_content_wrapper .sidebar .content .sidebar_widget li h2.widgettitle, h2.widgettitle, h5.event_title, .tabs .ui-tabs-panel, .ui-tabs .ui-tabs-nav li, .ui-tabs li:first-child, .ui-tabs.vertical .ui-tabs-nav li:last-child, .woocommerce .woocommerce-ordering select, .woocommerce div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active, .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page table.cart th, table.shop_table thead tr th, hr.title_break, .overlay_gallery_border, #page_content_wrapper.split #copyright, .page_content_wrapper.split #copyright, .post.type-post, .events.type-events, h5.event_title, .post_header h5.event_title, .client_archive_wrapper, #page_content_wrapper .sidebar .content .sidebar_widget li.widget, .page_content_wrapper .sidebar .content .sidebar_widget li.widget, hr.title_break.bold, blockquote, .social_share_button_wrapper, .social_share_button_wrapper, body:not(.single) .post_wrapper, .themeborder {
  border-color: #dce0e0;
}
body:not(.single):not(.blog):not(.search) .post_wrapper:first-child {
  padding-top: 0;
}



.post_img {
  position: relative;
  height: auto;
  text-align: center;
  float: left;
  line-height: 0;
  width: 100%;
  margin-bottom: 20px;
}
.post_wrapper.grid_layout .post_img {
  margin-bottom: 20px;
}
#page_content_wrapper .inner .sidebar_content img, .page_content_wrapper .inner .sidebar_content img {
  max-width: 100%;
  height: auto;
}

.post_header_wrapper {
  padding: 0 30px 0 30px;
}
.post_header.grid {
  margin-bottom: 15px;
  width: 100%;
  float: none;
}
.page_tagline, .post_header .post_detail, .recent_post_detail, .post_detail, .thumb_content span, .portfolio_desc .portfolio_excerpt, .testimonial_customer_position, .testimonial_customer_company {
  letter-spacing: 0px;
  text-transform: none;
}
.page_tagline, .thumb_content span, .portfolio_desc .portfolio_excerpt, .testimonial_customer_position, .testimonial_customer_company, .post_detail.single_post, #gallery_caption .tg_caption .tg_desc {
  color: #8D9199;
}
.post_header.grid h6 {
  font-size: 20px;
}
p, #page_content_wrapper .wpcf7 p, .page_content_wrapper .wpcf7 p {
  padding-top: .5em;
  padding-bottom: .5em;
}
.post_button_wrapper {
  margin-top: 15px;
}
#page_content_wrapper p, .page_content_wrapper p {
  padding-top: .7em;
  padding-bottom: 1.3em;
}
.readmore {
  margin: auto;
  opacity: .5;
  color: #222222;
}
.readmore i {
  margin-left: 7px;
  vertical-align: middle;
  font-size: 12px;
}
.post_wrapper:hover {
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  -o-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
  -webkit-box-shadow: 0 22px 40px rgba(0,0,0,.15);
  -moz-box-shadow: 0 22px 40px rgba(0,0,0,.15);
  box-shadow: 0 22px 40px rgba(0,0,0,.15);
}


a:hover, .post_header h5 a:hover {
  color: #000;
  text-decoration: none;
}
.readmore:hover {
  opacity: 1;
}
.ppb_blog_posts .post.type-post.last {
  margin-right: 0;
  float: right;
}

@media only screen and (max-width: 767px){
  .one.withsmallpadding:not(.withbg):not(.fullwidth), .one.withpadding:not(.withbg):not(.fullwidth) {
      padding: 30px 0 30px 0!important;
      box-sizing: border-box;
      clear: both;
  }
  .standard_wrapper {
    width: 100%;
    padding: 0 30px 0 30px;
    box-sizing: border-box;
}
.page_content_wrapper .inner, .standard_wrapper {
  width: 100%;
}
.standard_wrapper {
  width: 100%;
  padding: 0 20px 0 20px;
}
.page_content_wrapper .inner>div {
  width: 100%!important;
}
h2.ppb_title {
  font-size: 24px!important;
  margin-top: 10px;
}
.one {
  width: 100%!important;
  overflow: hidden;
}
.one {
  margin: 0!important;
}
.three_cols.gallery .element, .four_cols.gallery .element, #photo_wall_wrapper .wall_entry, .photo_wall_wrapper .wall_entry, #photo_wall_wrapper .wall_entry.three_cols, #photo_wall_wrapper .wall_entry.four_cols, .photo_wall_wrapper .wall_entry.four_cols {
  width: 100%;
  margin-right: 0%;
}
.one_third, .one_third.last, .one_third.pricing, .one_fourth.pricing {
  width: 100%;
  margin-bottom: 3%;
  margin-right: 0;
}
.ppb_text{
  text-align:center;
  padding:0px 0 0px 0;
  margin-bottom:70px;
}
body.page-template-blog_g-php .post.type-post, body.error404 .post.type-post, body.search .hentry, body.page-template-galleries-php .galleries.type-galleries, body.tax-gallerycat .galleries.type-galleries, .ppb_blog_posts .post.type-post {
  width: 100%;
}
}





@media only screen and (min-width: 1200px){
  #page_content_wrapper, .standard_wrapper, .footer_bar_wrapper, #footer ul.sidebar_widget, #page_content_wrapper.wide:not(.photoframe) .standard_wrapper, .ppb_popup.one.contain, #blog_promo_link_wrapper, #menu_wrapper, .above_top_bar .page_content_wrapper {
      max-width: 1425px;
      width: 100%;
      box-sizing: border-box;
      margin: auto;
      padding: 0 90px;
  }
  
}
